.preview-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-width: fit-content;
}

.photo-wrapper, .description-wrapper, .buttons-wrapper {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    flex: 1 1 calc(50% - 20px); 
    min-width: 280px;
    box-sizing: border-box;
    padding: 20px;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-wrapper img {
    height: auto;
    object-fit: contain;
    max-height: 100%;
    border-radius: 10px;
}


.book-title {
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center;
}

.book-description {
    font-size: 16px;
    color: #555;
    text-align: justify;
    padding:0.8rem 0;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 0 1rem 0;
    flex-wrap: wrap;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 6rem 
}

.btn:hover {
    background-color: #0056b3;
    color: #fff;
}

.preview-btn {
    background-color: #28a745;
}

.preview-btn:hover {
    background-color: #218838;
}

.pdf-btn {
    background-color: #e13a3a;
}

    .pdf-btn:hover {
        background-color: #a92e2e;
    }



@media (max-width: 768px) {
    .preview-wrapper {
        flex-direction: column;
        padding: 0 10px; 
    }

    .photo-wrapper, .description-wrapper, .buttons-wrapper {
        max-width: 100%;
    }
}
