
.search-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #646cff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s;
    outline: none;
}

.btn-submit:hover {
    background-color: #4950c7;
    outline: none;
}

.btn-submit:focus {
    
    outline: none;
}


.results {
    margin-top: 20px;
}

.book-card-asearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    flex-wrap: wrap;
}
.info-container-asearch {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.image-container-asearch img {
    border-radius: 5px;
}

.text-container-asearch {
    width: 100%
}

    .text-container-asearch h3 {
        color: initial;
        margin: 0 0 10px;
    }

    .text-container-asearch p {
        color: initial;
        margin: 5px 0;
    }

    .text-container-asearch span {
        font-size: 0.9em;
        color: #555;
    }
.bookmark-link{
    
    height: 3rem;
}